/********** Fuente Muli-Regular **********/
	@font-face {
		font-family: 'Muli-Regular';
		src: url('../fuentes/Muli-Regular.eot');
		src: url('../fuentes/Muli-Regular.woff2') format('woff2'),
			url('../fuentes/Muli-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fuentes/Muli-Regular.woff') format('woff'),
			url('../fuentes/Muli-Regular.ttf') format('truetype'),
			url('../fuentes/Muli-Regular.svg#Muli-Regular') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Muli-light';
		src: url('../fuentes/Muli-light.eot');
		src: url('../fuentes/Muli-light.woff2') format('woff2'),
			url('../fuentes/Muli-light.eot?#iefix') format('embedded-opentype'),
			url('../fuentes/Muli-light.woff') format('woff'),
			url('../fuentes/Muli-light.ttf') format('truetype'),
			url('../fuentes/Muli-light.svg#Muli-light') format('svg');
		font-weight: normal;
		font-style: normal;
	}

/********** Fuente Montserrat-Regular **********/
	@font-face {
		font-family: 'Montserrat-regular';
		src: url('../fuentes/Montserrat-regular.eot');
		src: url('../fuentes/Montserrat-regular.woff2') format('woff2'),
			url('../fuentes/Montserrat-regular.woff') format('woff'),
			url('../fuentes/Montserrat-regular.ttf') format('truetype'),
			url('../fuentes/Montserrat-regular.svg#Montserrat-regular') format('svg'),
			url('../fuentes/Montserrat-regular.eot?#iefix') format('embedded-opentype');
		font-weight: normal;
		font-style: normal;
	}

/********** Fuente Montserrat-Bold **********/
	@font-face {
		font-family: 'Montserrat-Bold';
		src: url('../fuentes/Montserrat-Bold.eot');
		src: url('../fuentes/Montserrat-Bold.woff2') format('woff2'),
			url('../fuentes/Montserrat-Bold.woff') format('woff'),
			url('../fuentes/Montserrat-Bold.ttf') format('truetype'),
			url('../fuentes/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
			url('../fuentes/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
		font-weight: normal;
		font-style: normal;
	}

/********** Fuente BadScript-Regular **********/
	@font-face {
		font-family: 'BadScript-Regular';
		src: url('../fuentes/BadScript-Regular.eot');
		src: url('../fuentes/BadScript-Regular.woff2') format('woff2'),
			url('../fuentes/BadScript-Regular.woff') format('woff'),
			url('../fuentes/BadScript-Regular.ttf') format('truetype'),
			url('../fuentes/BadScript-Regular.svg#BadScript-Regular') format('svg'),
			url('../fuentes/BadScript-Regular.eot?#iefix') format('embedded-opentype');
		font-weight: normal;
		font-style: normal;
	}

/********** Fuente NexaRustSans-Black **********/
	@font-face {
		font-family: 'NexaRustSans-Black';
		src: url('../fuentes/NexaRustSans-Black.eot');
		src: url('../fuentes/NexaRustSans-Black.woff2') format('woff2'),
			url('../fuentes/NexaRustSans-Black.woff') format('woff'),
			url('../fuentes/NexaRustSans-Black.ttf') format('truetype'),
			url('../fuentes/NexaRustSans-Black.svg#NexaRustSans-Black') format('svg'),
			url('../fuentes/NexaRustSans-Black.eot?#iefix') format('embedded-opentype');
		font-weight: normal;
		font-style: normal;
	}

/********** Fuente NexaRustSans-Black **********/
	@font-face {
		font-family: 'proxima-nova-black';
		src: url('../fuentes/proxima-nova-black.eot');
		src: url('../fuentes/proxima-nova-black.woff2') format('woff2'),
			url('../fuentes/proxima-nova-black.woff') format('woff'),
			url('../fuentes/proxima-nova-black.ttf') format('truetype'),
			url('../fuentes/proxima-nova-black.svg#proxima-nova-black') format('svg'),
			url('../fuentes/proxima-nova-black.eot?#iefix') format('embedded-opentype');
		font-weight: normal;
		font-style: normal;
	}

/********** Clases Fuentes **********/
	.mul-light {
		font-family: 'Muli-light', sans-serif;
	}
	.mul-regular {
		font-family: 'Muli-Regular', sans-serif;
	}
	.mon-regular {
		font-family: 'Montserrat-regular', sans-serif;
	}
	.mon-bold {
		font-family: 'Montserrat-Bold', sans-serif;
	}
	.badscript {
		font-family: 'BadScript-Regular', sans-serif;
	}
	.nexa {
		font-family: 'NexaRustSans-Black', sans-serif;
	}
	.nova {
		font-family: 'proxima-nova-black', sans-serif;
	}
	body {
		color: #58585b;
		height: 100%;
		margin: 0;
		width: 100%;
	}
	html {
		width: 100%;
		height: 100%;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Montserrat-regular', sans-serif;
	}
	p {
		font-family: 'Muli-Regular', sans-serif;
	}
	hr {
		border: solid 1px #e0e0e0;
	}
	.space {
		padding: 40px 40px 0;
	}

/********** BOTONES **********/
	.btn-primario {
		background: #fff;
		border: solid 1px #07939e;
		font-family: 'Muli-light', sans-serif;
		width: 115px;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
	}
	.btn-primario:hover {
		background: #f58622;
		border: solid 1px #f58622;
		color: #fff;
	}
	.btn-principal {
		background: #07939e;
		color: #fff;
		width: 115px;
	}
	.btn-principal:hover {
		color: #fff;
	}

/********** CSS MENU **********/
	.navbar {
		background: #fff !important;
		border-bottom: none !important;
		font-family: 'Muli-light', sans-serif;
		font-size: 14px;
		padding: 30px 0;
	}
	.navbar-brand {
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		align-items: center;
	}

/********** CSS HEAD RESERVACIONES **********/
	.reservacion {
		position: relative;
	}
	div#slider { overflow: hidden; }
	div#slider figure img { width: 100%; float: left; }
	div#slider figure { 
		position: relative;
		width: 100%;
		margin: 0;
		left: 0;
	}
	#shadow {
		background: rgba(0,0,0,.5);
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		margin-top: -100px;
		position: relative;
		width: 100%;
	}
	.box-cal {
		background: #fff;
		border: solid 1px #07939e;
		color: #07939e;
		font-size: 16px;
		height: 60px;
		padding: 5px 15px;
	}
	.ali {
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		align-items: center;
		justify-content: space-between;
	}
	.green {
		background: #07939e;
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		align-items: center;
		color: #fff;
	}
	.green h3 {
		font-size: 20px;
	}
	input.cal {
		border: none;
		color: #a7a9ab;
		display: block;
		font-size: 14px;
		margin-top: -5px;
	}
	input.cal:focus {
		color: #a7a9ab;
		font-size: 14px;
	}
	input.cal::-webkit-input-placeholder {
		color: #a7a9ab;
		font-size: 14px;
	}
	input.cal:-moz-placeholder {
		color: #a7a9ab; 
		font-size: 14px;
	}
	input.cal:-ms-input-placeholder { 
		color: #a7a9ab; 
		font-size: 14px;
	}

/********** CSS VACACIONES **********/
	.vacaciones {
		padding-bottom: 20px;
	}
	.vacaciones h2 {
		color: #f58622;
		font-family: 'Montserrat-Bold', sans-serif;
		font-size: 48px;
	}
	.vacaciones h3 {
		font-size: 24px;
		padding-left: 40px;
	}
	.vacaciones p {
		font-size: 18px;
		padding-left: 40px;
	}
	.vac{
		margin-top: 20px;
	}
	.img-vac img {
		border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0;
		width: 100%;
	}

/********** CSS PROMOCIONES **********/
	.promociones {
		padding-bottom: 20px;
	}
	.promociones h2 {
		color: #f58522;
		font-size: 36px;
	}
	.promo{
		margin-top: 20px;
	}
	.img-promo img {
		width: 100%;
	}
	.text-promo { 
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		align-items: center;
		position: relative;
		margin-top: 5px;
	}
	.text-promo h3 {
		color:#fff;
		font-family: 'NexaRustSans-Black', sans-serif;
		font-size: 20px;
		padding: 0 20px;
	}
	.arrow {
		float: right;
		margin-right: 60px;
		margin-top: -300px;
		position: relative;
		z-index: 100;
	}

/********** CSS RECOMENDADOS **********/
	.recomendados {
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.97) 15%, rgba(147,191,203,0.8) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 15%,rgba(147,191,203,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 15%,rgba(147,191,203,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc93bfcb',GradientType=0 ); /* IE6-9 */
		padding-bottom: 30px;
	}
	.recomendados h2 {
		color: #74adb7;
		font-size: 36px;
	}
	.arrow2 {
		float: right;
		margin-right: 60px;
		margin-top: -180px;
		position: relative;
		z-index: 100;
	}

/********** CSS DESTACADOS **********/
	.destacados {
		padding-bottom: 20px;
	}
	.destacados h2 {
		font-size: 36px;
	}
	.des{
		margin-top: 20px;
	}
	.img-des img {
		width: 100%;
	}
	.text-des { 
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		align-items: center;
		position: relative;
		margin-top: 5px;
	}
	.text-des h3 {
		color:#fff;
		font-family: 'NexaRustSans-Black', sans-serif;
		font-size: 20px;
		padding: 0 20px;
	}
	.arrow3 {
		float: right;
		margin-right: 60px;
		margin-top: -230px;
		position: relative;
		z-index: 100;
	}

/********** CSS EXPERIENCIAS **********/
	.experiencias {
		padding-bottom: 20px;
	}
	.experiencias h2 {
		font-size: 36px;
	}
	.exp{
		margin-top: 20px;
	}
	.img-exp img {
		width: 100%;
	}

/********** CSS FOOTER **********/
	.footer-top {
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;
	}
	.foot li {
		list-style: none;
		display: inline-block;
		padding-right: 40px;
	}
	.foot a {
		color: #808184;
	}
	.foot a:hover {
		color: #808184;
		text-decoration: none;
	}
	.logo-foot img {
		width: 70%;
	}


/********** Media Queries **********/

	/* Custom, iPhone Retina */ 
	@media only screen and (max-width : 320px) {
		#shadow {
			background: transparent;
		}
	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 480px) {
		#shadow {
			background: transparent;
		}
	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {
		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
		.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
			float: left;
		}
		.col-sm-12 {width: 100%;}
		.col-sm-11 {width: 91.66666667%;}
		.col-sm-10 {width: 83.33333333%;}
		.col-sm-9 {width: 75%;}
		.col-sm-8 {width: 66.66666667%;}
		.col-sm-7 {width: 58.33333333%;}
		.col-sm-6 {width: 50%;}
		.col-sm-5 {width: 41.66666667%;}
		.col-sm-4 {width: 33.33333333%;}
		.col-sm-3 {width: 25%;}
		.col-sm-2 {width: 16.66666667%;}
		.col-sm-1 {width: 8.33333333%;}
		#shadow {
			background: transparent;
		}
		.light-shadow {
			background-color: rgba(255,255,255,.5)!important;
		}
		.row-reservacion {
			display: inline-flex;
			margin: 50px;
		}
		.green h3 {
			font-size: 14px;
		}
		.space {
			/* padding: 10px 10px 0 10px; */
		}
		.no-space {
			padding-top: 0!important;
			padding-right: 1!important;
			padding-bottom: 0!important;
			padding-left: 1!important;
			margin: 0!important;
		}
		.hr-padding {
			margin-right: 20px;
			margin-left: 20px;
		}
		.vacaciones h2 {
			font-size: 30px;
		}
		.vacaciones h3 {
			font-size: 20px;
		}
		.vacaciones p {
			font-size: 14px;
		}
		.promociones h2 {
		    margin-top: 0;
		    margin-bottom: 0px;
		}
		.copyright {
		    font-size: 12px;
		    margin-top: -15px;
		    margin-bottom: 40px;
		}
	}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px) {

	}

/********** Nav Media Queries **********/
@media (max-width: 479px) {
	.navbar {
		border-radius: 4px;
	}
	.navbar-toggle {
		display: none;
	}
}
@media (min-width: 479px) {
	.navbar-header {
		float: left;
	}
}
.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
	overflow-y: auto;
}
@media (min-width: 479px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
				box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: 340px;
}
@media (max-device-width: 479px) and (orientation: landscape) {
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		max-height: 200px;
	}
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: -15px;
	margin-left: -15px;
}