/********** Fuente Muli-Regular **********/

@font-face {
  font-family: 'Muli-Regular';
  src: url('../fuentes/Muli-Regular.eot');
  src: url('../fuentes/Muli-Regular.woff2') format('woff2'),
       url('../fuentes/Muli-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fuentes/Muli-Regular.woff') format('woff'),
       url('../fuentes/Muli-Regular.ttf') format('truetype'),
       url('../fuentes/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-light';
  src: url('../fuentes/Muli-light.eot');
  src: url('../fuentes/Muli-light.woff2') format('woff2'),
       url('../fuentes/Muli-light.eot?#iefix') format('embedded-opentype'),
       url('../fuentes/Muli-light.woff') format('woff'),
       url('../fuentes/Muli-light.ttf') format('truetype'),
       url('../fuentes/Muli-light.svg#Muli-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

/********** Fuente Montserrat-Regular **********/
@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fuentes/Montserrat-regular.eot');
  src: url('../fuentes/Montserrat-regular.woff2') format('woff2'),
       url('../fuentes/Montserrat-regular.woff') format('woff'),
       url('../fuentes/Montserrat-regular.ttf') format('truetype'),
       url('../fuentes/Montserrat-regular.svg#Montserrat-regular') format('svg'),
       url('../fuentes/Montserrat-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/********** Fuente Montserrat-Bold **********/
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fuentes/Montserrat-Bold.eot');
  src: url('../fuentes/Montserrat-Bold.woff2') format('woff2'),
       url('../fuentes/Montserrat-Bold.woff') format('woff'),
       url('../fuentes/Montserrat-Bold.ttf') format('truetype'),
       url('../fuentes/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('../fuentes/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/********** Fuente BadScript-Regular **********/
@font-face {
  font-family: 'BadScript-Regular';
  src: url('../fuentes/BadScript-Regular.eot');
  src: url('../fuentes/BadScript-Regular.woff2') format('woff2'),
       url('../fuentes/BadScript-Regular.woff') format('woff'),
       url('../fuentes/BadScript-Regular.ttf') format('truetype'),
       url('../fuentes/BadScript-Regular.svg#BadScript-Regular') format('svg'),
       url('../fuentes/BadScript-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/********** Fuente NexaRustSans-Black **********/
@font-face {
  font-family: 'NexaRustSans-Black';
  src: url('../fuentes/NexaRustSans-Black.eot');
  src: url('../fuentes/NexaRustSans-Black.woff2') format('woff2'),
       url('../fuentes/NexaRustSans-Black.woff') format('woff'),
       url('../fuentes/NexaRustSans-Black.ttf') format('truetype'),
       url('../fuentes/NexaRustSans-Black.svg#NexaRustSans-Black') format('svg'),
       url('../fuentes/NexaRustSans-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/********** Fuente NexaRustSans-Black **********/
@font-face {
  font-family: 'proxima-nova-black';
  src: url('../fuentes/proxima-nova-black.eot');
  src: url('../fuentes/proxima-nova-black.woff2') format('woff2'),
       url('../fuentes/proxima-nova-black.woff') format('woff'),
       url('../fuentes/proxima-nova-black.ttf') format('truetype'),
       url('../fuentes/proxima-nova-black.svg#proxima-nova-black') format('svg'),
       url('../fuentes/proxima-nova-black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.mul-light {
  font-family: 'Muli-light', sans-serif;
}
.mul-regular {
  font-family: 'Muli-Regular', sans-serif;
}
.mon-regular {
  font-family: 'Montserrat-regular', sans-serif;
}
.mon-bold {
  font-family: 'Montserrat-Bold', sans-serif;
}
.badscript {
  font-family: 'BadScript-Regular', sans-serif;
}
.nexa {
  font-family: 'NexaRustSans-Black', sans-serif;
}
.nova {
  font-family: 'proxima-nova-black', sans-serif;
}


body {
    color: #58585b;
    height: 100%;
    margin: 0;
    width: 100%;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-regular', sans-serif;
}

p {
    font-family: 'Muli-Regular', sans-serif;
}

hr {
  border: solid 1px #e0e0e0;
}

/********** CSS MENU **********/

.menu_bar {
  display:none;
}

.li-menu4 {
      display: none;
   }

   .li-menu4 i {
      font-size: 20px;
      margin-right: 30px;
   }
 
header {
  top: 0;
  width: 100%;
}
 
header nav {
  position: fixed;
  background:#fff;
  height: 100px;
  padding: 0 60px;
  width:100%;
  z-index:1000;
}

.logo img {
  padding-top: 7px;
}
 
header nav ul {
  list-style:none;
  float: right;
  margin-top: 30px;
}
 
header nav ul li {
  display:inline-block;
  position: relative;
}
 
header nav ul li a:hover, header nav ul li a:focus {
  background: #f58622;
  border: solid 1px #f58622;
  color: #fff;
  text-decoration: none;
}
 
header nav ul li a {
  color:#58585b;
  font-family: 'Muli-light', sans-serif;
  display:block;
  text-decoration:none;
  padding: 10px 20px;
  border: solid 1px #07939e;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
    font-family: 'Muli-light', sans-serif;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
 
header nav ul li a span {
  margin-right:10px;
}
 
@media screen and (max-width: 800px) {
  body {
    padding-top:85px;
  }

  .logo {
    display: none;
  }
  
  .menu {
    color: #58585b;
  float: right;
  font-size: 40px;
  margin-right: 20px;
  margin-top: -65px;
}

.menu:hover {
    color: #58585b;
}

  .menu_bar {
    display:block;
    width:100%;
    position: fixed;
    top:0;
    background:#fff;
    z-index:1000;
  }
 
  .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    text-decoration: none;
  }
 
  .menu_bar span {
    float: right;
    font-size: 40px;
  }
 
  header nav {
    background: #fff;
    width: 100%;
    height: calc(100% - 80px);
    position: fixed;
    padding: 0 20px;
    right:100%;
    margin: 0;
    overflow: scroll;
    height: auto;
  }
 
  header nav ul {
    float: none;
    margin-top: 0;
    padding: 10px 0;
  } 

  header nav ul li {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
  }

   .li-menu {
      margin-left: -30px;
      width: 50%;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
   }

   .li-menu a {
    border-color: #f58622;
      border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
   }

   .li-menu2 {
      margin-left: -4px;
      width: 50%;
   }

   .li-menu2 a {
    border-color: #f58622;
      border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
   }

   .li-menu3 {
      display: block;
   }

   .li-menu4 {
      background: #345d9d;
      display: block;
      border-color: #345d9d;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
   }

   .li-menu4 a {
      color: #fff;
      background: #345d9d;
      border-color: #345d9d;
   }

   .li-menu4 a:hover {
    background: #345d9d;
    border-color: #345d9d;
      color: #fff;
   }
}

.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
@media (min-width: 50em) {

.modal-box { width: 40%; }
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9) !important;
}

a.close {
  line-height: 1;
  font-size: 3em;
  position: absolute;
  top: 0;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #808284;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.forms {
  margin-top: 10px;
}

.forms2 {
  color: #fff;
  background: #07939e;
  margin-top: 10px;
  padding: 10px;
}

.forms2 i {
  font-size: 20px;
  padding: 15px 20px 0 0;
}

.boton, .boton:visited, .boton:active {
  color:#07939e;
  font-family: 'Muli-light', sans-serif;
  border: solid 1px #07939e;
    font-family: 'Muli-light', sans-serif;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.boton:hover {
  background: #f58622;
  border: solid 1px #f58622;
  color: #fff;
  text-decoration: none;
}

.boton-f, .boton-f:visited, .boton-f:active {
  color:#fff;
  background: #345d9d;
  font-family: 'Muli-light', sans-serif;
  border: solid 1px #345d9d;
    font-family: 'Muli-light', sans-serif;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.boton-f:hover {
  background: #345d9d;
  border: solid 1px #345d9d;
  color: #fff;
  text-decoration: none;
}

.enlace, .enlace:visited, .enlace:active {
  color:#07939e;
  font-family: 'Muli-light', sans-serif;
    font-family: 'Muli-light', sans-serif;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    margin-top: -7px;
}

.enlace:hover {
  color: #f58622;
}

.p-inline {
  display: inline-block;
  width: 70%;
}

.addon {
  background: #fff;
}

.forms input::-webkit-input-placeholder {
  color: #58585b;
  text-align: center;
}
.forms input::-moz-placeholder {
  color: #58585b;
  text-align: center;
}
.forms input::-ms-input-placeholder { 
  color: #58585b;
  text-align: center;
}

.forms label {
  font-family: 'Muli-light', sans-serif;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 10px; } /* allow space for check mark */


/*************************
********Slider**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
  color: #fff;
}

.carousel-inner {
  height: 600px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.1);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/********** CSS HEAD RESERVACIONES **********/

.reservacion {
  position: relative;
}

div#slider { overflow: hidden; }
div#slider figure img { width: 100%; float: left; }
div#slider figure { 
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
}

#shadow {
    background: rgba(0,0,0,.5);
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: -100px;
    position: relative;
    width: 100%;
}

.btn-principal {
    background: #07939e;
    color: #fff;
    width: 115px;
}

.btn-principal:hover {
    color: #fff;
}

.box-cal {
    background: #fff;
    border: solid 1px #07939e;
    color: #07939e;
    font-size: 16px;
    height: 60px;
    padding: 5px 15px;
}

.ali {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    justify-content: space-between;
}

.green {
    background: #07939e;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    color: #fff;
}

.green h3 {
    font-size: 20px;
    margin-top: -1px;
}

input.cal {
    border: none;
    color: #a7a9ab;
    display: block;
    font-size: 14px;
    margin-top: -5px;
    width: 100px;
}

input.cal:focus {
    color: #a7a9ab;
    font-size: 14px;
}

input.cal::-webkit-input-placeholder {
  color: #a7a9ab;
  font-size: 14px;
}
input.cal::-moz-placeholder {
  color: #a7a9ab; 
  font-size: 14px;
}
input.cal::-ms-input-placeholder { 
  color: #a7a9ab; 
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  
  .calendario {
    margin: auto;
    margin-top: -420px;
    position: relative;
  }

  #shadow {
    background: rgba(255,255,255,.3);
    height: 300px;
    margin: auto;
    padding: 40px;
    width: 50%;
  }

  .box-cal {
    margin-bottom: 20px;
  }
  input.cal {
    width: 160px;
  }
  .green h3 {
    font-size: 18px;
}
}

@media screen and (max-width: 700px) {
  
  .calendario {
    margin: auto;
    margin-top: -470px;
  }

  #shadow {
    padding: 20px;
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  
  .box-cal {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
  }
  .btn-principal {
    width: 70px !important;
  }
  input.cal {
    width: 130px;
  }
}


/********** CSS VACACIONES **********/

.vacaciones {
  padding: 60px 0 0;
}

.vacaciones h2 {
    color: #f58622;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 48px;
}

.vacaciones h3 {
    font-size: 24px;
    padding-left: 40px;
}

.vacaciones p {
    font-size: 18px;
    padding-left: 40px;
}

.vac {
  margin-top: 20px;
}

.img-vac img {
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {
  
  .vacaciones {
    margin-top: 100px;
  }
  .vacaciones h2 {
    font-size: 34px;
  }
  .vacaciones h3 {
    font-size: 22px;
  }
  .vacaciones p {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  
  .vacaciones h3 {
    padding-left: 0;
  }
  .vacaciones p {
    font-size: 14px;
    padding-left: 0;
  }
}

@media screen and (max-width: 400px) {
  
  .vacaciones {
    margin-top: 0;
  }
}


/********** CSS PROMOCIONES **********/

.promociones {
  margin-top: 60px;
  padding-bottom: 30px;
}

.promociones h2 {
  color: #f58522;
  font-size: 36px;
}


/********** CSS RECOMENDADOS **********/

.recomendados {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.97) 15%, rgba(147,191,203,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 15%,rgba(147,191,203,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 15%,rgba(147,191,203,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc93bfcb',GradientType=0 ); /* IE6-9 */
  margin-top: 30px;
  padding-bottom: 30px;
}

.recomendados h2 {
  color: #74adb7;
  font-size: 36px;
}

.recom{
  margin-top: 20px;
}

.img-recom {
    background: #fff;
}

.img-recom img {
}


/********** CSS DESTACADOS **********/

.destacados {
  margin-top: 60px;
  padding-bottom: 30px;
}

.destacados h2 {
  font-size: 36px;
}

.des{
  margin-top: 20px;
}

.img-des img {
}


/********** CSS EXPERIENCIAS **********/

.experiencias {
  margin-top: 30px;
  padding-bottom: 30px;
}

.experiencias h2 {
  font-size: 36px;
}

.exp{
  margin-top: 20px;
}

.img-exp img {
    width: 100%;
}


/********** CSS FOOTER **********/

.footer-top {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.foot li {
  list-style: none;
  display: inline-block;
  padding-right: 40px;
}

.foot a {
  color: #808184;
}

.foot a:hover {
  color: #808184;
  text-decoration: none;
}

.logo-foot img {
  width: 70%;
}

@media screen and (max-width: 1000px) {
  .foot li {
  display: block;
  margin-top: 20px;
  }
  .footer-bottom {
    margin-top: 30px;
  }
}

@media screen and (max-width: 400px) {
  .foot li {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
  }
  .footer-bottom {
    margin-top: 30px;
  }

  .logo-foot img {
  width: 100%;
}
}

/********** CSS ERROR **********/
.error {
  margin: auto;
  position: relative;
  z-index: 1000;
}
.h2-error {
  color: #07939E;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: 82pt;
}
.h3-error {
  font-size: 62pt;
  color: #888A8D;
}
.h4-error {
  color: #07939E;
  font-size: 32pt;
}
.p-error {
  color: #58595B;
  font-size: 28pt;
}
.btn-error {
  color: #fff;
  background-color: #F68622;
  border-color: #F2801B;
  font-size: 20pt;
}
.btn-error:focus,
.btn-error.focus {
  color: #fff;
  background-color: #DB7111;
  border-color: #D36D10;
}
.btn-error:hover {
  color: #fff;
  background-color: #D9771F;
  border-color: #D1731E;
}
.btn-error:active {
  color: #fff;
  background-color: #DB7111;
  border-color: #D36D10;
}
.img-error {
  max-width: 80%;
}

@media screen and (max-width: 1000px) {
  .h2-error {
    font-size: 62pt;
  }
  .h3-error {
    font-size: 48pt;
  }
  .h4-error {
    font-size: 24pt;
  }
  .p-error {
    font-size: 22pt;
  }
  .btn-error {
    font-size: 14pt;
  }
  .img-error {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  .h2-error {
    font-size: 50pt;
  }
  .h3-error {
    font-size: 34pt;
  }
  .h4-error {
    font-size: 28pt;
  }
  .p-error {
    font-size: 22pt;
  }
  .btn-error {
    font-size: 20pt;
  }
  .img-error {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .h2-error {
    font-size: 40pt;
  }
  .h3-error {
    font-size: 28pt;
  }
  .h4-error {
    font-size: 20pt;
  }
  .p-error {
    font-size: 18pt;
  }
  .btn-error {
    font-size: 16pt;
  }
  .img-error {
    width: 70%;
  }
}

/********** CSS CONTACTO **********/
.contacto {
  background-image: url(../img/contacto/contacto-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  
}
@media screen and (max-width: 700px) {
  
}
@media screen and (max-width: 400px) {
  
}